<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Junnut Pelaa Pesistä -tulostaulu</title>
    {% if style is not none %}
        <link rel='stylesheet' href='/static/css/scoreboard_{{style}}.css'>
    {% else %}
    <link rel='stylesheet' href='/static/css/scoreboard_default.css'>
    {% endif %}
</head>
<body>    
<div id="tulostaulu"></div>

{% if debug == "on" %} 
    <div id="pt_loader">Debug-moodi päällä</div>
{% else %} 
    <div id="pt_loader" style="display: none"></div>
{% endif %}
    
<script>
    function fetchTulostaulu() {
        var ottelu_url = '/{{ottelu.ottelunumero}}/tulostaulu';
        if ("{{debug}}" === "on") {
            ottelu_url += "?debug=on";
        }

        fetch(ottelu_url)
            .then(response => response.text()) // Convert the response to text
            .then(data => {
                document.getElementById('tulostaulu').innerHTML = data; // Set the data as inner HTML
            })
            .catch(error => console.error('Error fetching sisalto:', error));
    }

    function lataaData() {
        fetch('/pt/{{ottelu.ottelunumero}}')
            .then(response => response.text()) // Convert the response to text
            .then(data => {
                document.getElementById('pt_loader').innerHTML = data; // Set the data as inner HTML
            })
            .catch(error => console.error('Virhe otteludatan noudossa:', error));
    }

    // Fetch sisalto from server every 5 seconds
    
    setInterval(fetchTulostaulu, 5000);
    fetchTulostaulu();

    {% if ottelu.pesistulokset == 1 %} 
        setInterval(lataaData, 10000);
    {% endif %}

    // Fetch sisalto immediately when the page loads
    
    
</script>
</body>
</html>
