    <table class='scoreboard' border='1' cellspacing='0' cellpadding='5' style='border-collapse: collapse; font-family: Arial, sans-serif;'>
        <tbody>
            <tr class='top'>
                <td colspan='2' class='invisible'></td>
                <td>1</td>
                <td>2</td>
                <td>S</td>
                <td>K</td>
            </tr>
            <tr>
                <td class='team_names'>{{ottelu.kotijoukkue}}</td>
                <td class='total-points'>{{ ottelu.koti_jaksovoitot if ottelu.koti_jaksovoitot is not none else '' }}</td>
                <td {% if ottelu.jakso_nro == 1 and ottelu.nykyinen_lyontivuoro == ottelu.kotijoukkue %}class="sisavuoro"{% endif %}>{{ ottelu.jakso_1_koti_juoksut if ottelu.jakso_1_koti_juoksut is not none else '' }}</td>
                <td {% if ottelu.jakso_nro == 2 and ottelu.nykyinen_lyontivuoro == ottelu.kotijoukkue %}class="sisavuoro"{% endif %}>{{ ottelu.jakso_2_koti_juoksut if ottelu.jakso_2_koti_juoksut is not none else '' }}</td>
                <td {% if ottelu.jakso_nro == 3 and ottelu.nykyinen_lyontivuoro == ottelu.kotijoukkue %}class="sisavuoro"{% endif %}>{{ ottelu.jakso_3_koti_juoksut if ottelu.jakso_3_koti_juoksut is not none else '' }}</td>
                <td {% if ottelu.jakso_nro == 4 and ottelu.nykyinen_lyontivuoro == ottelu.kotijoukkue %}class="sisavuoro"{% endif %}>{{ ottelu.jakso_4_koti_juoksut if ottelu.jakso_4_koti_juoksut is not none else '' }}</td>
                <td class='palot' rowspan="2">{{ottelu.palot|safe}}</td>
            </tr>
            <tr>
                <td class='team_names'>{{ottelu.vierasjoukkue}}</td>
                <td class='total-points'>{{ ottelu.vieras_jaksovoitot if ottelu.vieras_jaksovoitot is not none else '' }}</td>
                <td {% if ottelu.jakso_nro == 1 and ottelu.nykyinen_lyontivuoro == ottelu.vierasjoukkue %}class="sisavuoro"{% endif %}>{{ ottelu.jakso_1_vieras_juoksut if ottelu.jakso_1_vieras_juoksut is not none else '' }}</td>
                <td {% if ottelu.jakso_nro == 2 and ottelu.nykyinen_lyontivuoro == ottelu.vierasjoukkue %}class="sisavuoro"{% endif %}>{{ ottelu.jakso_2_vieras_juoksut if ottelu.jakso_2_vieras_juoksut is not none else '' }}</td>
                <td {% if ottelu.jakso_nro == 3 and ottelu.nykyinen_lyontivuoro == ottelu.vierasjoukkue %}class="sisavuoro"{% endif %}>{{ ottelu.jakso_3_vieras_juoksut if ottelu.jakso_3_vieras_juoksut is not none else '' }}</td>
                <td {% if ottelu.jakso_nro == 4 and ottelu.nykyinen_lyontivuoro == ottelu.vierasjoukkue %}class="sisavuoro"{% endif %}>{{ ottelu.jakso_4_vieras_juoksut if ottelu.jakso_4_vieras_juoksut is not none else '' }}</td>
            </tr>
            <tr>
                <td class='current_period' colspan="4">{{ottelu.jakso_txt}} / {{ottelu.vuoropari_txt}}</td>
                <td class='current_period' colspan="2"></td>
            </tr>
            <tr>
                <td class="promo" colspan="6">
                    Tulostaulun tarjoaa: <b>Junnut Pelaa Pesistä</b>
                </td>
            </tr>
            {% if debug == "on" %}
            <tr class="debug">
                <td colspan="6">
                    Päivitys: {% if ottelu.pesistulokset == 1 %} Automaattinen {% else %} Manuaalinen {% endif %}
                </td>
            </tr>
            {% endif %} 
        </tbody>
    </table>