<!DOCTYPE html>
<html>
<head>
    <title>Päivitä ottelun tietoja.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body, html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }
        
        table {
            width: 100%;
            table-layout: fixed;
        }
        
        td {
            text-align: center;
            padding: 5px;
            word-wrap: break-word; /* Allows long words to break and wrap to the next line */
        }
        
        .submit-button {
            text-align: center;
        }
    </style>
</head>
<body>
    <form method="POST" action="/paivita/{{ottelu.ottelunumero}}/{{muokattava_osio}}">
        <table>
            <tr>
                <td colspan="5"><b>Ottelunumero: {{ottelu.ottelunumero}}</b></td>
            </tr>
            <tr>
                <td colspan="5" style="text-align: left;">
                    <input type="text" name="kotijoukkue" value="{{ottelu.kotijoukkue}}">
                </td>
            </tr>
            <tr>
                <td><b>PELI</b></td>
                <td><b>J1</b></td>
                <td><b>J2</b></td>
                <td><b>S</b></td>
                <td><b>K</b></td>
            </tr>
            <tr>
                <td>{{ottelu.koti_jaksovoitot}}</td>
                <td>{{ottelu.jakso_0_koti_juoksut}}</td>
                <td>{{ottelu.jakso_1_koti_juoksut}}</td>
                <td>{{ottelu.jakso_2_koti_juoksut}}</td>
                <td>{{ottelu.jakso_3_koti_juoksut}}</td>
            </tr>
            <tr>
                <td>{{ottelu.vieras_jaksovoitot}}</td>
                <td>{{ottelu.jakso_0_vieras_juoksut}}</td>
                <td>{{ottelu.jakso_1_vieras_juoksut}}</td>
                <td>{{ottelu.jakso_2_vieras_juoksut}}</td>
                <td>{{ottelu.jakso_3_vieras_juoksut}}</td>
            </tr>
            <tr>
                <td colspan="5" style="text-align: left;">
                    <input type="text" name="vierasjoukkue" value="{{ottelu.vierasjoukkue}}">
                </td>
            </tr>
        </table>
        <div class="submit-button">
            <button type="submit" style="font-size: 1.5em;">Päivitä</button>
        </div>
    </form>
        <div style="margin-top: 20px; text-align: center;">
            <table>
                <tr>
                    <td>
                        {% if muokattava_osio == 0 %}
                            PELI
                        {% elif muokattava_osio == 1 %}
                            J1
                        {% elif muokattava_osio == 2 %}
                            J2
                        {% elif muokattava_osio == 3 %}
                            S
                        {% elif muokattava_osio == 4 %}
                            K
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <input type="button" value="Edellinen jakso" onclick="location.href='/paivita/{{ottelu.ottelunumero}}/{{muokattava_osio-1}}'">
                                </td>
                                <td>
                                    <form method="POST" action="/paivita/{{ottelu.ottelunumero}}/{{muokattava_osio}}">
                                        {{ottelu.kotijoukkue}}<br/>
                                        <button type="submit" name="action" value="vahenna">-</button>
                                        {% if muokattava_osio == 0 %}
                                            {{ottelu.koti_jaksovoitot}}
                                            <input type="hidden" name="update_value" value="koti_jaksovoitot"/>
                                        {% elif muokattava_osio == 1 %}
                                            {{ottelu.jakso_0_koti_juoksut}}
                                            <input type="hidden" name="update_value" value="jakso_0_koti_juoksut"/>
                                        {% elif muokattava_osio == 2 %}
                                            {{ottelu.jakso_1_koti_juoksut}}
                                            <input type="hidden" name="update_value" value="jakso_1_koti_juoksut"/>
                                        {% elif muokattava_osio == 3 %}
                                            {{ottelu.jakso_2_koti_juoksut}}
                                            <input type="hidden" name="update_value" value="jakso_2_koti_juoksut"/>
                                        {% elif muokattava_osio == 4 %}
                                            {{ottelu.jakso_3_koti_juoksut}}
                                            <input type="hidden" name="update_value" value="jakso_3_koti_juoksut"/>
                                        {% endif %}
                                        <button type="submit" name="action" value="lisaa">+</button>                                   
                                    </form>
                                    </td>
                                <td>
                                    <form method="POST" action="/paivita/{{ottelu.ottelunumero}}/{{muokattava_osio}}">
                                        {{ottelu.vierasjoukkue}}<br/>
                                        <button type="submit" name="action" value="vahenna">-</button>
                                        {% if muokattava_osio == 0 %}
                                            {{ottelu.vieras_jaksovoitot}}
                                            <input type="hidden" name="update_value" value="vieras_jaksovoitot"/>
                                        {% elif muokattava_osio == 1 %}
                                            {{ottelu.jakso_0_vieras_juoksut}}
                                            <input type="hidden" name="update_value" value="jakso_0_vieras_juoksut"/>
                                        {% elif muokattava_osio == 2 %}
                                            {{ottelu.jakso_1_vieras_juoksut}}
                                            <input type="hidden" name="update_value" value="jakso_1_vieras_juoksut"/>
                                        {% elif muokattava_osio == 3 %}
                                            {{ottelu.jakso_2_vieras_juoksut}}
                                            <input type="hidden" name="update_value" value="jakso_2_vieras_juoksut"/>
                                        {% elif muokattava_osio == 4 %}
                                            {{ottelu.jakso_3_vieras_juoksut}}
                                            <input type="hidden" name="update_value" value="jakso_3_vieras_juoksut"/>
                                        {% endif %}
                                        <button type="submit" name="action" value="lisaa">+</button>
                                    </form>
                                </td>
                                <td>
                                    <input type="button" value="Seuraava jakso" onclick="location.href='/paivita/{{ottelu.ottelunumero}}/{{muokattava_osio+1}}'">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    <!-- Lisätty osio loppuu -->
</body>
</html>
