<!DOCTYPE html>
<html>
<head>
    <title>Päivitä ottelun tietoja</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/scoreboard_edit.css">
</head>
<body>
    <form method="POST" action="/paivita/{{ottelu.ottelunumero}}/{{muokattava_osio}}">
        <table>
            <tr>
                <td colspan="5"><b>Ottelunumero: {{ottelu.ottelunumero}}</b></td>
            </tr>
            <tr>
                <td>
                    KOTI: 
                <td colspan="3">
                    <input type="text" name="kotijoukkue" value="{{ottelu.kotijoukkue}}"> 
                </td>
                <td>
                    <button type="submit">Päivitä</button>
                </td>
            </tr>
            <tr class="top">
                <td><b>TULOS</b></td>
                <td><b>J1</b></td>
                <td><b>J2</b></td>
                <td><b>S</b></td>
                <td><b>K</b></td>
            </tr>
            <tr>
                <td class="tulos">{{ottelu.koti_jaksovoitot}}</td>
                <td {% if ottelu.jakso_nro == 1 and ottelu.nykyinen_lyontivuoro == ottelu.kotijoukkue %}class="sisavuoro"{% endif %}>{{ottelu.jakso_1_koti_juoksut}}</td>
                <td {% if ottelu.jakso_nro == 2 and ottelu.nykyinen_lyontivuoro == ottelu.kotijoukkue %}class="sisavuoro"{% endif %}>{{ottelu.jakso_2_koti_juoksut}}</td>
                <td {% if ottelu.jakso_nro == 3 and ottelu.nykyinen_lyontivuoro == ottelu.kotijoukkue %}class="sisavuoro"{% endif %}>{{ottelu.jakso_3_koti_juoksut}}</td>
                <td {% if ottelu.jakso_nro == 4 and ottelu.nykyinen_lyontivuoro == ottelu.kotijoukkue %}class="sisavuoro"{% endif %}>{{ottelu.jakso_4_koti_juoksut}}</td>
            </tr>
            <tr>
                <td class="tulos">{{ottelu.vieras_jaksovoitot}}</td>
                <td {% if ottelu.jakso_nro == 1 and ottelu.nykyinen_lyontivuoro == ottelu.vierasjoukkue %}class="sisavuoro"{% endif %}>{{ottelu.jakso_1_vieras_juoksut}}</td>
                <td {% if ottelu.jakso_nro == 2 and ottelu.nykyinen_lyontivuoro == ottelu.vierasjoukkue %}class="sisavuoro"{% endif %}>{{ottelu.jakso_2_vieras_juoksut}}</td>
                <td {% if ottelu.jakso_nro == 3 and ottelu.nykyinen_lyontivuoro == ottelu.vierasjoukkue %}class="sisavuoro"{% endif %}>{{ottelu.jakso_3_vieras_juoksut}}</td>
                <td {% if ottelu.jakso_nro == 4 and ottelu.nykyinen_lyontivuoro == ottelu.vierasjoukkue %}class="sisavuoro"{% endif %}>{{ottelu.jakso_4_vieras_juoksut}}</td>
            </tr>
            <tr>
                <td>
                    VIERAS: 
                </td>
                <td colspan="3">
                    <input type="text" name="vierasjoukkue" value="{{ottelu.vierasjoukkue}}">
                </td>
                <td>
                    <button type="submit">Päivitä</button>
                </td>
            </tr>
        </table>
    </form>
    <div style="margin-top: 20px; text-align: center;">
        <table>
            <tr>
                <td class="no-border">
                    {% if muokattava_osio > 0 %}
                        <input type="button" value="Edellinen jakso" onclick="location.href='/paivita/{{ottelu.ottelunumero}}/{{muokattava_osio-1}}'">
                    {% endif %}
                </td>
                <td>
                    <b>
                    {% if muokattava_osio == 0 %}
                        TULOS
                    {% elif muokattava_osio == 1 %}
                        J1
                    {% elif muokattava_osio == 2 %}
                        J2
                    {% elif muokattava_osio == 3 %}
                        S
                    {% elif muokattava_osio == 4 %}
                        K
                    {% endif %}
                    </b>
                </td>
                <td class="no-border">
                    {% if muokattava_osio < 4 %}
                        <input type="button" value="Seuraava jakso" onclick="location.href='/paivita/{{ottelu.ottelunumero}}/{{muokattava_osio+1}}'">
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>{{ottelu.kotijoukkue}}</td>
                <td>
                    <table>
                        <tr>
                            <td class="no-border">
                                <form method="POST" action="/paivita/{{ottelu.ottelunumero}}/{{muokattava_osio}}">
                                    <button type="submit" name="action" value="lisaa">+</button>
                                    <br/><br/>
                                    {% if muokattava_osio == 0 %}
                                        {{ottelu.koti_jaksovoitot}}
                                        <input type="hidden" name="update_value" value="koti_jaksovoitot"/>
                                    {% elif muokattava_osio == 1 %}
                                        {{ottelu.jakso_1_koti_juoksut}}
                                        <input type="hidden" name="update_value" value="jakso_1_koti_juoksut"/>
                                    {% elif muokattava_osio == 2 %}
                                        {{ottelu.jakso_2_koti_juoksut}}
                                        <input type="hidden" name="update_value" value="jakso_2_koti_juoksut"/>
                                    {% elif muokattava_osio == 3 %}
                                        {{ottelu.jakso_3_koti_juoksut}}
                                        <input type="hidden" name="update_value" value="jakso_3_koti_juoksut"/>
                                    {% elif muokattava_osio == 4 %}
                                        {{ottelu.jakso_4_koti_juoksut}}
                                        <input type="hidden" name="update_value" value="jakso_4_koti_juoksut"/>
                                    {% endif %}
                                    <br/><br/>
                                    <button type="submit" name="action" value="vahenna">-</button>
                                </form>
                            </td>
                            <td class="no-border">
                                <form method="POST" action="/paivita/{{ottelu.ottelunumero}}/{{muokattava_osio}}">
                                    <button type="submit" name="action" value="lisaa">+</button>
                                    <br/><br/>
                                    {% if muokattava_osio == 0 %}
                                        {{ottelu.vieras_jaksovoitot}}
                                        <input type="hidden" name="update_value" value="vieras_jaksovoitot"/>
                                    {% elif muokattava_osio == 1 %}
                                        {{ottelu.jakso_1_vieras_juoksut}}
                                        <input type="hidden" name="update_value" value="jakso_1_vieras_juoksut"/>
                                    {% elif muokattava_osio == 2 %}
                                        {{ottelu.jakso_2_vieras_juoksut}}
                                        <input type="hidden" name="update_value" value="jakso_2_vieras_juoksut"/>
                                    {% elif muokattava_osio == 3 %}
                                        {{ottelu.jakso_3_vieras_juoksut}}
                                        <input type="hidden" name="update_value" value="jakso_3_vieras_juoksut"/>
                                    {% elif muokattava_osio == 4 %}
                                        {{ottelu.jakso_4_vieras_juoksut}}
                                        <input type="hidden" name="update_value" value="jakso_4_vieras_juoksut"/>
                                    {% endif %}
                                    <br/><br/>
                                    <button type="submit" name="action" value="vahenna">-</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>{{ottelu.vierasjoukkue}}</td>
            </tr>
            <tr>
                <td>
                    <form method="POST" action="/paivita/{{ottelu.ottelunumero}}/{{muokattava_osio}}">
                        <button type="submit" name="action" value="poista_palot">Poista palot</button>
                    </form>
                </td>
                <td>
                    <b>PALOT:<b/><br/>
                        <span class="palot">
                            {{ottelu.palot}}
                        </span>
                </td>
                <td>
                    <form method="POST" action="/paivita/{{ottelu.ottelunumero}}/{{muokattava_osio}}">
                        <button type="submit" name="action" value="lisaa_palo">Lisää palo</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <form method="POST" action="/paivita/{{ottelu.ottelunumero}}/{{muokattava_osio}}">
                        <button type="submit" name="action" value="jakso_taakse">Taaksepäin</button>
                    </form>
                </td>
                <td>
                    <b>JAKSO</b>
                    <br/>
                    {{ottelu.jakso_txt}}
                </td>
                <td>
                    <form method="POST" action="/paivita/{{ottelu.ottelunumero}}/{{muokattava_osio}}">
                        <button type="submit" name="action" value="jakso_eteenpain">Eteenpäin</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <form method="POST" action="/paivita/{{ottelu.ottelunumero}}/{{muokattava_osio}}">
                        <button type="submit" name="action" value="vuoropari_taakse">Taaksepäin</button>
                    </form>
                </td>
                <td>
                    <b>VUOROPARI</b>
                    <br/>
                    {{ottelu.vuoropari_txt}}
                </td>
                <td>
                    <form method="POST" action="/paivita/{{ottelu.ottelunumero}}/{{muokattava_osio}}">
                        <button type="submit" name="action" value="vuoropari_eteenpain">Eteenpäin</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <form method="POST" action="/paivita/{{ottelu.ottelunumero}}/{{muokattava_osio}}">
                        <button type="submit" name="action" value="vaihda_lyontivuoro">VAIHDA</button>
                    </form>
                </td>
                <td>
                    <b>SISÄLLÄ</b>
                    <br/>
                    {{ottelu.nykyinen_lyontivuoro}}
                </td>
                <td>
                    <form method="POST" action="/paivita/{{ottelu.ottelunumero}}/{{muokattava_osio}}">
                        <button type="submit" name="action" value="vaihda_lyontivuoro">VAIHDA</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <!-- Lisätty osio loppuu -->
</body>
</html>
